<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_model_service_quote_submit_before">
		<observer name="eloom_payu_total"
		          instance="Eloom\PayU\Observer\Frontend\Quote\Address\QuoteAddressToOrderObserver"/>
	</event>
	
	<event name="payment_method_assign_data_eloom_payments_payu_cc">
		<observer name="eloom_payments_payu_cc_gateway_data_assign"
		          instance="Eloom\PayU\Observer\CreditCadDataAssignObserver"/>
	</event>
	
	<event name="sales_order_save_after">
		<observer name="eloom_payu_sales_order_save_after"
		          instance="Eloom\PayU\Observer\OrderSaveAfter" />
	</event>
	
	<event name="eloom_payu_invoice_create">
		<observer name="eloom_payu_invoice_create"
		          instance="Eloom\PayU\Observer\InvoiceCreate"/>
	</event>
</config>